<p>
  <strong>Service name:</strong>
  <tr>
      <td><%= service.title %></td>
    </tr>
</p>


  <%= link_to 'Show Service', city_company_service_path(@city, @company, service) %>
  |
  <%= link_to 'Remove Service', city_company_service_path(@city, @company, service),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

