<p>
  <strong>Name:</strong>
  <tr>
      <td><%= specialist.title %></td>
    </tr>
</p>

  <%= link_to 'Show Specialist', city_company_service_specialist_path(@city, @company, @service, specialist) %>
  |
  <%= link_to 'Remove Specialist', city_company_service_specialist_path(@city, @company, @service, specialist),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

