<p>
  <strong>Company name:</strong>
  <tr>
      <td><%= company.title %></td>
    </tr>
</p>


  <%= link_to 'Show Company', city_company_path(@city, company) %>
  |
  <%= link_to 'Remove Company', city_company_path(@city, company),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
